html{
  font-family: 'Lato';
  font-weight: 300;
}

/* Hairline */
@font-face {
  font-family: 'Lato';
     src: url("../fonts/Lato/Lato-Hairline.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
     src: url("../fonts/Lato/Lato-HairlineItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

/* Light */
@font-face {
  font-family: 'Lato';
      src: url("../fonts/Lato/Lato-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
      src: url("../fonts/Lato/Lato-LightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

/* Regular */
@font-face {
  font-family: 'Lato';
      src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
      src: url("../fonts/Lato/Lato-Italic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

/* Bold */
@font-face {
  font-family: 'Lato';
      src: url("../fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
      src: url("../fonts/Lato/Lato-BoldItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* Bold */
@font-face {
  font-family: 'Lato';
      src: url("../fonts/Lato/Lato-Black.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
      src: url("../fonts/Lato/Lato-BlackItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}